.nav
{
  background-image:
    linear-gradient(
      #1f3140, #3e6483
    );

width: 100%;
height: 50px;
//white-space: nowrap;
list-style-type: none;
margin: -10px;
padding: 0;
padding-left: 10%;

}

.nav_item,
.nav_item_sel
{
	position: relative;
	color: #CCC ;
	font-size: medium;
	display: inline;
	//height: 50px;
	padding: 13px;
	//top: 10px;
	float: left;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.nav_spacer
{
	position: relative;
	color: #CCC ;
	font-size: medium;
	display: inline;
	//height: 50px;
	padding: 13px;
	margin: 50px;
	//top: 10px;
	float: left;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav_item:hover
{
	  background-image:
    linear-gradient(
      #3e6483, #1f3140
    );
	color: white ;
border-radius: 5px;

}

.nav_item_sel
{
	  background-image:
    linear-gradient(
      #3e6483, #1f3140
    );
	color: white ;
border-radius: 5px;
box-shadow: 0px 0px 5px #bbb;

}

.nav_text
{
        position: relative;
        color: white ;
        font-size: large;
        display: inline;
        //height: 50px;
        padding: 13px;
        //top: 10px;
        float: left;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.content
{

position: fixed;	
width: 80%;
height: 80%;
padding-left: 10%;
border-radius: 10px;

}

.counter {

background-color: #3a87ad;
color: #fff;
width: 30px;
//height: 20px;
border-radius: 8px;
padding: 1px;
display: inline;

}

.drop_down 
{
width: 90%;
height: 35px;
border-radius: 3px;
display: inline;
float:left;
}


.version_drop_down 
{
width: 50%;
height: 35px;
border-radius: 3px;
display: inline;
float:left;
}

.update_button
{
width: 35px;
height: 35px;
border-radius: 3px;
display: inline;
float:left;
}


.del_button {
	  background-image:
    linear-gradient(
      #eb5c58, #bd362f
    );
color: #fff;
width: 24px;
height: 30px;
border-radius: 3px;
border-spacing:3px;/*cellspacing:poor IE support for  this*/
//padding: 1px;
display: inline;
border:2px solid  #c84a45;         
float:left;
}

.del_button:hover {
	  background-image:
    linear-gradient(
      #bd362f, #eb5c58
    );

}

.div-table {
  display:table;         
  width:100%;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

.div-table-row {
  display:table-row;
  width:auto;
  clear:both;
  border:1px solid  #888;         
}

.div-table-row:hover {
box-shadow: 0px 0px 5px #888;
}

.div-table-col {
  float:left;
  display:table-column;         
  width:24%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding-left: 0.5%;
}


.div-table-col-0 {
  float:left;
  display:table-column;         
  width:24%;         
  background-color:#e3e3e3;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding-left: 0.5%;
}

.div-table-col-1 {
  float:left;
  display:table-column;         
  width:24%;         
  background-color:#d3d3d3;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding-left: 0.5%;
}

.div-table-col-art {
  float:left;
  display:table-column;         
  width:30%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
  
}

.div-table-col-env {
  float:left;
  display:table-column;         
  width:20%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
  
}

.div-table-head-col {
  float:left;
  display:table-column;         
  width:24%;         
  background-color: #ddd;  
  border:1px solid  #888;         
  border-radius: 5px;
}

.current_artifacts
{

position: relative;	
width: 50%;
//height: 25%;
display: inline;
float: left;

}

.current_servers
{

//width: 50%;
//height: 25%;
//float: right;
display: inline;
overflow: auto;

}

.artifact_selections
{

position: relative;	
width: 74%;
//height: 25%;
display: inline;
float: left;
background-color:#e5e5e5;         
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;

}

.current_activity
{

width: 25%;
height: 100%;
display: inline;
float: right;
//overflow: auto;
  background-color:#f5f5f5;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

li.dep_list
{
	font-size: small;

}

.deploy_opt_container .deploy_options_box
{

display: none;

}

.deploy_opt_container input:checked ~ .deploy_options_box
{

display: inline;
}

input[type=checkbox].deploy_opt_image           
{
visibility: hidden;
display: inline;


}

input[type=checkbox].deploy_opt_image + label.deploy_label_button
{
  background-image:
    linear-gradient(
      #e6e6e6, #fefefe
    );

border:1px solid  #888;         
border-radius: 5px;
display: inline;

}

input[type=checkbox].deploy_opt_image:checked + label.deploy_label_button            
{
  background-image:
    linear-gradient(
      #fefefe, #e6e6e6
    );
}


li.depl_opts
{
list-style-type: none;
font-size: small;

}

a
{
text-decoration: none;
}

.dep_opts_container
{

  width:100%;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}


.dep_opt_exluded_servers
{
width: 35%;
//height: 25%;
float: left;
//display: inline;
padding-left: 10%;
}


.total_dep_ops
{

/width: 35%;
//height: 25%;
float: left;
//display: inline;
padding-left: 5%;

}

.deploy_button_box
{
position: relative;
width: 20%;
height: 150px;
margin-left: 40%;
background-color: #ddd;  
border-radius: 10px;
display: block;
box-shadow: 5px 5px 10px #999;
overflow: auto ;
}

.safe_button_box
{
position: relative;
top: 10%;
padding: 5%;
margin-left:5% ;
width: 80%;
height: 40%;
background-color: #ffd7bf;  
border-radius: 5px;
float: left;
}

p.center
{
left: 10%;

}

input[type=radio].safe_button_chk
{

//visibility: none;
display: none;

}

input[type=radio].safe_button_chk + label.safe_button_lbl
{
  background-image:
    linear-gradient(
      #fefefe, #e6e6e6
    );

position: relative;
border:1px solid  #888;         
border-radius: 5px;
display: inline-block;
padding: 5%;
left: 20%;

}
input[type=radio].safe_button_chk:hover + label.safe_button_lbl:hover
{

box-shadow: 0px 0px 5px grey;

}

input[type=radio].safe_button_chk:checked + label.safe_button_lbl
{
  background-image:
    linear-gradient(
      #216689, #4d90c7
    );
border:1px solid  #888;         
border-radius: 5px;
display: inline-block;
padding: 5%;

}

.deploy_button
{

  background-image:
    linear-gradient(
      #216689, #4d90c7
    );
position: relative;
top: 13%;
left: 5%;
height: 25%;
width: 90%;
border:2px solid  #888;         
border-radius: 5px;
display: inline-block;
padding: 15%
font-size: xx-large;

}

.deploy_button:hover
{
  background-image:
    linear-gradient(
      #4d90c7, #216689
    );

}

.artifact_content, .history_content, .history_log_scroll, .history_artifact_scroll {
overflow-y: scroll;
    height: 75%;
}

.history_log_scroll, .history_artifact_scroll {
	display: none;
}

.deploy_content {

    height: 90%;
	overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
}

.artifact_scroll, .history_scroll
{
	overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
    height: 75%;
}



.artifact_table {
  display:table;         
  width:100%;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

.artifact_title_bar {
  background-image:
    linear-gradient(
      #cccccc, #e2e2e2
    );
  //display:table-row;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.artifact_table_row
{
  display:table-row;
  width:auto;
  clear:both;
  border:1px solid  #888;         
}

.artifact_table_row:hover {
  box-shadow: 0px 0px 5px #888;
}

.artifact_table_col_head_name
{

  float:left;
  display:table-column;         
  width:24%;         
  background-color: #ccc;  
  border:1px solid  #888;         
  border-radius: 5px;

}

.artifact_table_col_head_env
{

  float:left;
  display:table-column;         
  width:75%;         
  background-color:#ccc;  
  border:1px solid  #888;         
  border-radius: 5px;

}

.artifact_table_col_name_0
{

  float:left;
  display:table-column;         
  width:24%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;

}

.artifact_table_col_env_0
{

  float:left;
  display:table-column;         
  width:75%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;;

}


.artifact_table_col_name_1
{

  float:left;
  display:table-column;         
  width:24%;         
  background-color:#b5cadb;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.artifact_table_col_env_1
{

  float:left;
  display:table-column;         
  width:75%;
  background-color:#c6cdd3;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.art_env_cell_dev
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #f3d4a9;
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.art_env_cell_qa
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #f4e2ab;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.art_env_cell_prod
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #ddf2a9;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.art_env_cell_stage
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #d8d8d8;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}


html {
	overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
}


.show_logs
{
	display: inline;
}

.show_art
{
	display: inline;
}


.viewlog_container {

background-color: #eee;
border-radius: 10px;
border:1px solid  #888;         
box-shadow: 10px 10px 10px #bbb;
overflow-y: scroll;
height: 75%;
white-space: pre-wrap;

}

.log_output {
font-size: large;

}

.hover_item {

display: inline;

}


.admin_menu
{

        position: relative;
        color: #CCC ;
        font-size: medium;
        display: inline;
        //height: 50px;
	width: 7%;
        padding: 13px;
        //top: 10px;
        float: left;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 5px;

}
.admin_menu_item
{


	  background-image:
    linear-gradient(
      #3e6483, #1f3140
    );

	top: 5px;
	left: -5px;
	width: 75%;
	padding: 10px;
        position: relative;
        display: none;
	z-index: 10;
	font-size: smaller;
	border-radius: 5px;
}

.admin_menu:hover .admin_menu_item
{
	display: block;
}

.admin_menu:hover
{
	  background-image:
    linear-gradient(
      #3e6483, #1f3140
    );
	color: white;
	z-index: 9;
	
}

.admin_menu .admin_menu_sel
{
box-shadow: 0px 0px 10px  #bbb;

}

.admin_menu_item:hover
{
	          background-image:
    linear-gradient(
      #3f4251, #4f7594
    );

box-shadow: 0px 0px 5px #bbb;
color: white;
}

a.main_menu_link, a.main_menu_link:visited, a.main_menu_link:active, a.main_menu_link:hover
{
	color: #CCC ;
	text-decoration: none;

}


.admin_artifact_content {

height: 75%;
overflow-y: scroll;

}

.admin-div-table-head-col {
  float:left;
  display:table-column;         
  width:10%;         
  height:24%;         
  background-color:#ccc;  
  //border:1px solid  #888;         
  border-radius: 5px;
padding: 1%;
  border:1px solid  #888;         

}
.admin-div-table-head-col:hover
{
	border: 2px solid #555;
}


.admin-div-table-col-0 {
  float:left;
  display:table-column;         
  width:10%;         
  height:24%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 1%;
  border:1px solid  #888;         

}

.admin-div-table-col-1 {
  float:left;
  display:table-column;         
  width:10%;         
  height:24%;         
  background-color:#ddd;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 1%;
  border:1px solid  #888;         

}

.admin_other
{

  display: inline;         
  width:100%;         
  height:24%;         
  background-color:#ddd;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
  padding: 1%;
  border:1px solid  #888;

}

.admin-other-head-col
{

  float:left;
  display:table-column;         
  width:7%;         
  height:10%;         
  background-color:#ccc;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: x-small;
padding: 0.5%;
  border:1px solid  #888;
}

.admin-div-table-col-0:hover, .admin-div-table-col-1:hover
{
	border: 2px solid #555;
}

.hide_element {
	display: none;
}

.show_element {
	display: table;
}

.show_info_button
{

  background-image:
    linear-gradient(
      #58bddb, #2f96b4
    );
height:28px;
width: 30px;
border-radius: 5px;
float:left;
padding: 1px;
border: 2px solid #2f96b4;
margin-right: 5px;
}

.server_select_box
{

	background: #ccc;
	position: relative;
	top: 90%;
	width: 1000%;
	padding: 100%;
	z-index:25;
	display: none;
	border-radius: 10px;
	box-shadow: 10px 10px 10px #555;
}

.server_include_item
{
list-style-type: none;
}


.show_info_button:hover 
{
  background-image:
    linear-gradient(
      #2f96b4, #58bddb
    );
}

.show_info_button:hover .server_select_box
{
 display: block;
}


.perms_name_col_0, .perms_name_col_1, .perms_env_col_0, .perms_env_col_1, 
.perms_username_col_0, .perms_username_col_1, .perms_checked_col_0, .perms_checked_col_1,
.perms_delete_col_0, .perms_delete_col_1
{

  float:left;
  display:table-column;         
  width:25%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perms_name_col_0, .perms_name_col_1 { 	width:25%; }

.perms_env_col_0, .perms_env_col_1 { width: 5%  }

.perms_username_col_0, .perms_username_col_1 { width: 50%  }

.perms_checked_col_0, .perms_checked_col_1 { width: 10%  }

.perms_delete_col_0, .perms_delete_col_1 { width: 5%  }

.perms_name_col_1, .perms_env_col_1, .perms_username_col_1, .perms_checked_col_1, .perms_delete_col_1 { background-color:#e5e5e5; }



.perms_table_col_env_0
{

  float:left;
  display:table-column;         
  width:5%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perms_table_col_env_1
{

  float:left;
  display:table-column;         
  width:5%;         
  background-color:#ddd;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perms_table_col_username_0
{

  float:left;
  display:table-column;         
  width:50%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perms_table_col_username_1
{

  float:left;
  display:table-column;         
  width:50%;         
  background-color:#ddd;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perms_table_col_checked_0
{

  float:left;
  display:table-column;         
  width:5%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perms_table_col_checked_1
{

  float:left;
  display:table-column;         
  width:5%;         
  background-color:#ddd;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.perm_name_head_col, .perm_env_head_col, .perm_username_head_col, .perm_check_head_col, .perm_delete_head_col 
{

  float: left;
  display: table-column;         
  background-color: #ddd;  
  border: 1px solid #888;         
  border-radius: 5px;

}


.perm_name_head_col {	width: 25%;  }
.perm_env_head_col {	width: 5%;  }
.perm_username_head_col {	width: 50%;  }
.perm_check_head_col {	width: 10%;  }
.perm_delete_head_col {	width: 5%;  }

.start_calendar, .end_calendar, .prune_display, .maint_start_cal, .maint_stop_cal
{

background-color: #ccc;  
  border: 2px solid #888;         
  border-radius: 5px;

position: relative;
height: 250px;
width: 180px;

}

.text_box_normal
{
display: block;
}

.maint_start_cal, .maint_stop_cal
{
display: none;
top: -2px;

}

.text_box_normal:hover + .maint_start_cal, .maint_start_cal:hover
{
display: inline-block;

}
.text_box_normal:hover + .maint_stop_cal, .maint_stop_cal:hover
{
display: inline-block;

}

.prune_display
{
position: absolute;
display: inline-block;
width: auto;
height: auto;
}
.cal_cell 
{
  
  position: absolute ;
  background-color: #ddd;  
  border: 2px solid #888;         
  border-radius: 5px;
  width: 20px;
  height: 20px;	
  display: block;

}

.cal_cell:hover
{
  border: 3px solid #666;         
  background-color: #ccc;  
  
}


.iframe_style
{
  border-radius: 5px;
box-shadow: 5px 5px 5px #555;

}
