{
    "id":  "{{ res[0][0] }}",
    "name":  "{{ res[0][1] }}",
    "serverType": "{{ res[0][2] }}",
    "groupId": "{{ res[0][3] }}",
    "artifactId": "{{ res[0][4] }}",
    "artifactType": "{{ res[0][5] }}",
    "mavenVersion": "{{ res[0][6] }}",
    "deployName": "{{ res[0][7] }}",
    "versionUrlSuffix": "{{ res[0][8] }}",
    "statusUrlSuffix": "{{ res[0][9] }}",
    "notes": {{ res[0][11] }},
    "artifactEnvId": "{{ res[0][12] }}", 
    "nameWithEnv": "{{ res[0][1] }}@prod",
    {{ !all_envs }}
    "jiraIssueKey": null, 
    "versionIsBuild": null, 
    "versionToDeploy": null, 
    {{ !default_servers }}
    "serverExcludes": null, 
    "excludedServers": null, 
    "serverIncludes": null, 
    "dependencies": null, 
    "isDependency": false, 
    "sites": {}, 
    "artifactUrl": null, 
    "artifactFilename": null, 
    "versions": null,
    "oldVersion": null, 
    "alwaysAllowSnapshots": "{{ res[0][10] }}" 
}
