.nav
{
  background-image:
    linear-gradient(
      #1f3140, #3e6483
    );

width: 100%;
height: 50px;
//white-space: nowrap;
list-style-type: none;
margin: -10px;
padding: 0;
padding-left: 10%;

}

.nav_item,
.nav_item_sel
{
	position: relative;
	color: #CCC ;
	font-size: medium;
	display: inline;
	//height: 50px;
	padding: 13px;
	//top: 10px;
	float: left;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.nav_spacer
{
	position: relative;
	color: #CCC ;
	font-size: medium;
	display: inline;
	//height: 50px;
	padding: 13px;
	margin: 50px;
	//top: 10px;
	float: left;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.nav_item:hover
{
	  background-image:
    linear-gradient(
      #3e6483, #1f3140
    );
	color: white ;
border-radius: 5px;

}

.nav_item_sel
{
	  background-image:
    linear-gradient(
      #3e6483, #1f3140
    );
	color: white ;
border-radius: 5px;
box-shadow: 0px 0px 5px #bbb;

}

.nav_text
{
        position: relative;
        color: white ;
        font-size: large;
        display: inline;
        //height: 50px;
        padding: 13px;
        //top: 10px;
        float: left;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.content
{

position: fixed;	
width: 80%;
height: 80%;
padding-left: 10%;

}

.counter {

background-color: #3a87ad;
color: #fff;
width: 30px;
//height: 20px;
border-radius: 8px;
padding: 1px;
display: inline;

}

.drop_down 
{
width: 90%;
height: 35px;
border-radius: 3px;
display: inline;
float:left;
}

.update_button
{
width: 35px;
height: 35px;
border-radius: 3px;
display: inline;
float:left;
}


.del_button {
	  background-image:
    linear-gradient(
      #eb5c58, #bd362f
    );
color: #fff;
width: 24px;
height: 30px;
border-radius: 3px;
border-spacing:3px;/*cellspacing:poor IE support for  this*/
//padding: 1px;
display: inline;
border:2px solid  #c84a45;         
float:left;
}

.del_button:hover {
	  background-image:
    linear-gradient(
      #bd362f, #eb5c58
    );

}

.div-table {
  display:table;         
  width:100%;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

.div-table-row {
  display:table-row;
  width:auto;
  clear:both;
  border:1px solid  #888;         
}

.div-table-row:hover {
box-shadow: 0px 0px 5px #888;
}

.div-table-col {
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:24%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}


.div-table-col-art {
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:30%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
  
}

.div-table-col-env {
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:20%;         
  background-color:#eee;  
  //border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
  
}

.div-table-head-col {
  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:24%;         
  background-color: #ddd;  
  border:1px solid  #888;         
  border-radius: 5px;
}

.current_artifacts
{

position: relative;	
width: 50%;
//height: 25%;
display: inline;
float: left;

}

.current_servers
{

//width: 50%;
//height: 25%;
//float: right;
display: inline;
overflow: auto;

}

.artifact_selections
{

position: relative;	
width: 74%;
//height: 25%;
display: inline;
float: left;
background-color:#e5e5e5;         
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;

}

.current_activity
{

width: 25%;
height: 100%;
display: inline;
float: right;
//overflow: auto;
  background-color:#f5f5f5;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

li.dep_list
{
	font-size: small;

}

.deploy_opt_container .deploy_options_box
{

display: none;

}

.deploy_opt_container input:checked ~ .deploy_options_box
{

display: inline;
}

input[type=checkbox].deploy_opt_image           
{
visibility: hidden;
display: inline;


}

input[type=checkbox].deploy_opt_image + label.deploy_label_button
{
  background-image:
    linear-gradient(
      #e6e6e6, #fefefe
    );

border:1px solid  #888;         
border-radius: 5px;
display: inline;

}

input[type=checkbox].deploy_opt_image:checked + label.deploy_label_button            
{
  background-image:
    linear-gradient(
      #fefefe, #e6e6e6
    );
}


li.depl_opts
{
list-style-type: none;
font-size: small;

}

a
{
text-decoration: none;
}

.dep_opts_container
{

  width:100%;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}


.dep_opt_exluded_servers
{
width: 35%;
//height: 25%;
float: left;
//display: inline;
padding-left: 10%;
}


.total_dep_ops
{

/width: 35%;
//height: 25%;
float: left;
//display: inline;
padding-left: 5%;

}

.deploy_button_box
{
position: relative;
width: 20%;
height: 150px;
margin-left: 40%;
background-color: #ddd;  
border-radius: 10px;
display: block;
box-shadow: 5px 5px 10px #999;
overflow: auto ;
}

.safe_button_box
{
position: relative;
top: 10%;
padding: 5%;
margin-left:5% ;
width: 80%;
height: 40%;
background-color: #ffd7bf;  
border-radius: 5px;
float: left;
}

p.center
{
left: 10%;

}

input[type=radio].safe_button_chk
{

//visibility: none;
display: none;

}

input[type=radio].safe_button_chk + label.safe_button_lbl
{
  background-image:
    linear-gradient(
      #fefefe, #e6e6e6
    );

position: relative;
border:1px solid  #888;         
border-radius: 5px;
display: inline-block;
padding: 5%;
left: 20%;

}
input[type=radio].safe_button_chk:hover + label.safe_button_lbl:hover
{

box-shadow: 0px 0px 5px grey;

}

input[type=radio].safe_button_chk:checked + label.safe_button_lbl
{
  background-image:
    linear-gradient(
      #216689, #4d90c7
    );
border:1px solid  #888;         
border-radius: 5px;
display: inline-block;
padding: 5%;

}

.deploy_button
{

  background-image:
    linear-gradient(
      #216689, #4d90c7
    );
position: relative;
top: 13%;
left: 5%;
height: 25%;
width: 90%;
border:2px solid  #888;         
border-radius: 5px;
display: inline-block;
padding: 15%
font-size: xx-large;

}

.deploy_button:hover
{
  background-image:
    linear-gradient(
      #4d90c7, #216689
    );

}

.artifact_content {

    height: 75%;
}

.deploy_content {

    height: 90%;
	overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
}

.artifact_scroll
{
	overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
    height: 75%;
}



.artifact_table {
  display:table;         
  width:100%;         
  background-color:#eee;         
  border:1px solid  #666666;         
  border-spacing:3px;/*cellspacing:poor IE support for  this*/
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

.artifact_title_bar {
  background-image:
    linear-gradient(
      #cccccc, #e2e2e2
    );
  //display:table-row;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;

}

.artifact_table_row
{
  display:table-row;
  width:auto;
  clear:both;
  border:1px solid  #888;         
}

.artifact_table_row:hover {
  box-shadow: 0px 0px 5px #888;
}

.artifact_table_col_head_name
{

  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:24%;         
  background-color: #ccc;  
  border:1px solid  #888;         
  border-radius: 5px;

}

.artifact_table_col_head_env
{

  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:75%;         
  background-color:#ccc;  
  border:1px solid  #888;         
  border-radius: 5px;

}

.artifact_table_col_name_0
{

  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:24%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;

}

.artifact_table_col_env_0
{

  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:75%;         
  background-color:#eee;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;;

}


.artifact_table_col_name_1
{

  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:24%;         
  background-color:#b5cadb;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.artifact_table_col_env_1
{

  float:left;/*fix for  buggy browsers*/
  display:table-column;         
  width:75%;
  background-color:#c6cdd3;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;

}

.art_env_cell_dev
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #f3d4a9;
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.art_env_cell_qa
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #f4e2ab;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.art_env_cell_prod
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #ddf2a9;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}

.art_env_cell_stage
{

  float:left;
  display:inline;         
  width:20%;         
  background-color: #d8d8d8;  
  border:1px solid  #888;         
  border-radius: 5px;
  font-size: small;
padding: 0.25%;
}


html {
	overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
}


