#deployFormHeader {
    overflow: hidden;
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #E5E5E5;
}

#deployForm {
    margin-bottom: 0;
}

.form-actions {
    margin-bottom: 0;
}

#currentActivity {
    padding: 0 10px;
}

#currentActivity h4 {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.artifact-delete {
    float: left;
    width: 24px;
    padding-left: 0;
    padding-right: 0;
}

.artifact-name, .artifact-env, .artifact-info, .version-to-deploy, .jira-issue-key {
    margin-left: 5px !important;
}

.artifact-info {
    padding-left: 0;
    padding-right: 1px;
    vertical-align: top;
    width: 25px;
    float: left;
}

.version-loader {
    margin-left: 5px;
}

.server-name {
    margin-bottom: 5px;
}

#clear-form-wrapper {
    margin: 5px auto;
    text-align:center;
}

.help-spacer {
    height: 80px;
    display: none;
}

#saveDeployment {
    margin: 0 auto;
    width: 622px;
    padding: 15px;
    background-color: #DDDDDD;
}

.input-append #share.active {
    border-color: #CCCCCC;
}

#share.active {
    background-color: lightyellow;
}