h2.dashboard {
    font-weight: bold;
    padding: 0;
}

h3.dashboard {
    font-size: 18px;
    padding: 0;
}

table.dashboard {
    width: 100%;
}

.dashboard-list-wrapper {
    height: 200px;
    overflow: auto;
}