#artifacts-datatable td a {
    font-size: 16px;
}

.env {
    width: 218px;
    height: 24px;
    margin: 1px 3px; 
    float: left; 
    /* border: 1px solid #999; */
    border-radius: 5px;
    padding: 1px 5px;
}

.env strong {
    vertical-align: text-top;
}

.last-deployed-tooltip, .deploying-tooltip {
    vertical-align: middle;
    margin-bottom: 1px;
    cursor: pointer;
}