/* artifacts */
#artifact-metadata td, #artifact-metadata th {
    text-align: center;
    border-top: 1px solid #CCCCCC;
}

.artifact-servers {
    font-size: 12px;
}

div.artifact-env {
    background-color:#d8d8d8;
    padding: 0 5px 5px;
    border: 1px solid #999;
    margin: 0;
    border-radius: 5px;
}

td.server-version, td.service-status-wrapper, td.server-activity, td.server-last-deploy-status {
    text-align: center;
}
