/*
#dep-op-view {
    cursor: pointer; 
    font-weight: normal; 
    font-size: 10px;
    padding: 0 2px;
    vertical-align: text-bottom;
}
*/

#deployment-options {
    clear: both; 
    border-bottom: 2px solid #999; 
    font-weight: bold; 
    font-size: 16px; 
    margin-top: 10px;
    color: #777777;
    padding-bottom: 2px;
}

#deployment-options-wrapper {
    padding-top: 4px;
    background-color:#ddd;
    margin-top: 2px;
}

.servers {
    width: 400px;
}

#deployment-options-wrapper label.checkbox {
    margin-right: 20px;
}

#deployment-options-wrapper span.help-inline, #deployment-options-wrapper p.help-block {
    font-size: 11px;
}

.deployer-option {
    margin-left: -5px;
    margin-right: 15px; 
}

#deploy-buttons-wrapper {
    margin: 10px auto 5px; 
    /*
    border: 4px solid #999;
    border-radius: 10px; 
    padding: 2px;
     */
    padding: 10px;
    background-color: #ddd;
    width: 149px;
}

#submit-button-wrapper {
    text-align: center; 
    margin-top: 5px;
}

#submit {
    font-size: 33px; 
    padding: 0 4px;
}

#clear-form {
    padding: 4px;
}

.ui-buttonset {
    margin-right: 0px;
}

.ib-brand .ui-button {
    margin-right: 0px;
}

.ib-brand .ui-button-text-only .ui-button-text {
    padding: 0.1em 0.5em;
}