#deployer {
    position: absolute;
    left: -100px;
    top: -100px;

    width: 10px;
    height: 10px;
    overflow: hidden;
}

#progress {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    color: #258CD1;
}

/*
#progressbar {
    width: 960px;
    margin: 0 auto;
}
*/

#loader {
    margin: 5px auto;
    width: 16px;
}

#log {
    /*margin: 5px auto;*/
    overflow: hidden;
    /*position: relative;*/
    padding: 15px;
    display: block;
    border-radius: 5px;
    background-color: gray;
    /*width: 960px;*/
    height: 500px;
    margin-bottom: 15px;
}

#logtail {
    background-color: white;
    width: 100%;
    height: 100%;
}

#notifications-wrapper {
    overflow: auto;
    height: 190px;
    background-color: #E5E5E5;
    padding: 10px;
}

#notifications-wrapper .ui-resizable-s {
    background-image: url("/css/smoothness/images/ui-icons_222222_256x240.png");
    background-position: -48px -224px;
    background-repeat: no-repeat;
    position: relative;
    height: 16px;
    width: 16px;
    margin: -10px auto;
}

#server-status-wrapper, #screenshots {
    background-color: #E5E5E5;
}



#notifications .notification {
    margin: 8px;
}

.notification a:link, .notification a:visited {
    color: #258CD1;
}

.notification a:active, .notification a:hover {
    color: #EB5339;    
}

#artifact-selections th, #artifact-selections td {
    padding: 0 4px;
    border: 1px solid #999;
}

.ui-resizable-handle {
    z-index: 1;
}


/* jcarousel */
.jcarousel-container {
    border-radius: 8px 8px 8px 8px !important;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 90%;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
}